<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <base href="<%- BASE_HREF %>">
    <link rel="stylesheet" type="text/css" href='./css/style.css'>
    <link rel="stylesheet" type="text/css" href="./sass/css/styles.css">
    <title>Ingénierie MDN</title>
</head>

<body>
    <div id="ingenierieMdn"></div>
</body>

</html>
