.site-layout .site-layout-background {
    background: #fff !important;
}

[data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
}

.profile-dropdown-nemu {
    background: chartreuse;
    min-width: 250px !important;
    .ant-col {
        margin-left: 2px;
    }
}
