/*Content page*/
#contenaire{
    margin: 0 auto;

    .header-slider{
        width: 100%;
        
        img{
            width: 100%;
            position: relative;
            z-index: -1;
        }
    }

    .majuscule {
        text-transform: uppercase;
        color: $color;
        text-align: center;
        font-size:xx-large;
    }

    .titre-base{
        width: 40%;
        padding: 3%;
        background-color: #ffffff;
        position: absolute;
        z-index: 1;
        top: 40%;
        left: 30%;
    }

    #contenairePage{
        width: 70%;
        margin: 0 auto;
        padding: 5% 0;
        font-family: 'roboto_regular', arial, sans-serif !important;
        font-weight: normal;
        font-style: normal;
        line-height: inherit;
        font-size: 1.5em;
    
    }

    header {
        .ant-row {
            row-gap: 0px;
            padding-top: 5px;
            height: 100%;
            div {
                height: 100%;
            }
        }
    }
   
       
    .footer-logo {
        display: block;
        margin: 10px 45px;
        height: 5vh;
    }

    .header-logo {
        height: 55px;
        width : 55px;
        margin: 5px 15px;
    }

    .header-contianer {
        height: 70px;
        background-color: #ffffff;
    }


    .ant-btn {
        margin-left: 30%;
    }

    /*Footer2*/
    div.ant-row:nth-child(3) {
        row-gap: 0px;
       // background-color: RGBA(254,207,70,0.25);
        height: auto;

        div:nth-child(2) > ul:nth-child(1) {
            background-color: unset;
            }

        div:nth-child(1) > div:nth-child(1) > img:nth-child(1) {
            width: 80%;
            }

        // div:nth-child(2) > div:nth-child(2) {
        //     margin-left: 2%;
            
        //     h2:nth-child(1) {
        //         font-weight: bolder;
        //     }
    
        // }

    }
       
    
    .ant-menu-horizontal {
        line-height: 46px;
        border: 0;
        /*! border-bottom: 1px solid #f0f0f0; */
        -webkit-box-shadow: none;
                box-shadow: none;
    }
       
    .body-content {
        min-height: 35vw;
       // margin: 10px;
    }

    .footer2page {
        background-color: RGBA(254, 207, 70, 0.25);
    }
           
    /*Footer*/
    #footer {
        background-color: #1c1e9f;
        min-height: 10vh;

        .footerpage{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            color: #fecf46;

            div:nth-child(2) > p:nth-child(1) {
                margin-bottom: 10px;
                }

                div:nth-child(2) {
                margin-left: 20%;
                }
                
                
        }
            
        .footerlocal{
        display: flex;
        flex-direction: row;
        align-items: center;
        align-items: center;
        flex-wrap: nowrap;

            p:nth-child(1) {
                margin-bottom: 2%;
            }  

        }
    } 
}


/*Général administration*/
#layout {
    width: 100%;
    margin: auto;
    padding: 0px 5px;

    /*header*/
    .header {
        height: 8vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: calc(10px + 2vmin);
        color: white;

        #headerpage{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            color: rgb(253, 253, 253);
            padding-top: 0.5%;
        }

        .headerlocal{
            display: flex;
            flex-direction: row;
            align-items: center;
            align-items: center;
            flex-wrap: nowrap;
            margin-left: 230%;               
          }
          
          .headerpageflex{
            min-width: 100%;
            .logo {
                height: 10vmin;
                display: block;
                margin: auto;
            }   
          }
          
          div.headerpageflex:nth-child(1) {
            padding-bottom: 5%;
        }

        div.headerpageflex:nth-child(2) > p:nth-child(1) {
            margin-bottom: 6%;
        }
           
    }
  
    .middle-section{
        min-height: 750px;
    }
            
    /*Content formulaire*/
    #contenaireformulaire{
        width: 70%;
        padding: 24px;
        min-height: 534px;

        div:nth-child(1) > h1:nth-child(1) {
            text-align: center;
            font-family: $titre1;
            color: $color;
    
        }
      
        .ant-form-item .ant-input-group .ant-select {
            width: 100% !important;
        }
    
        div.ant-row:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1),
        div.ant-row:nth-child(6) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1),
        div.ant-row:nth-child(7) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
            text-align: right;
        }
        
        
        div:nth-child(1) > h1:nth-child(1) {
            font-weight: bold;
            padding-bottom: 5%;
        }
           
             
    }

    /*Content liste*/
    #contenaireliste{
        width: 90%;
        margin: 0 auto;
        padding: 5% 0;
    
        div:nth-child(1) > h1:nth-child(1) {
            text-align: center;
            font-weight: bold;
            padding-bottom: 5%;
            color: red;
        } 

        .profil{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            color: red;
            background-color: red;
        }
        
           
    }

    

    /*Footer*/
    #footer {
        min-height: 10vh;
        text-align: center;

        .footerpage{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            align-content: center;

            div:nth-child(2) > p:nth-child(1) {
                margin-bottom: 10px;
               }

               div:nth-child(2) {
                margin-left: 20%;
               }
               
               
        }
          
        .footerlocal{
        display: flex;
        flex-direction: row;
        align-items: center;
        align-items: center;
        flex-wrap: nowrap;

            p:nth-child(1) {
                margin-bottom: 2%;
            }  

        }
    } 
    
    .anticon svg {
        display: block;
        margin: 30%;
    }

    .quick-link-anchor {
        
        .ant-anchor-ink::before {
            background-color: #e1e1e1;
        }
        .ant-anchor-ink-ball {
            border: unset;
        }
    }
}

#layoutmenu{

    li.menuitemgroup:nth-child(1) {
        font-weight: bold;
       }
       
      
    li.ant-menu-submenu:nth-child(2) > div:nth-child(1) {
        color: black;
       }
       
    li.ant-menu-submenu:nth-child(2) > div:nth-child(1),
    li.ant-menu-submenu:nth-child(3) > div:nth-child(1),
    li.ant-menu-submenu:nth-child(4) > div:nth-child(1),
    li.ant-menu-submenu:nth-child(5) > div:nth-child(1),
    li.ant-menu-submenu:nth-child(6) > div:nth-child(1),
    li.ant-menu-submenu:nth-child(7) > div:nth-child(1),
    li.ant-menu-submenu:nth-child(8) > div:nth-child(1),
    li.ant-menu-submenu:nth-child(9) > div:nth-child(1) {
        font-weight: bold;
       } 
        
}

/*Ant design*/
.ant-layout-header {
    height: 60px;
    padding: 0px !important; 
    color: rgba(0, 0, 0, 0.85);
    line-height: 60px;
    background: #001529;
}

/*Content main*/
.ant-layout-content > div:nth-child(1) > div:nth-child(1) > img:nth-child(1) {
    width: 100%;
    height: 800px;
}

ul {
    .top-menu-item:hover {
        background:#1890ff33;
    }
}

.ant-menu-submenu-popup{
    ul {
        max-height: unset !important;
    }
}

.carousel-slide {
    height: 160px;
    color: white;
    line-height: 160px;
    text-align: center;
    background: #364d79;
}

.carousel-container {
    height: 43vw;
    overflow: hidden;
    border-style: ridge;
    img {
        height: 43vw;
        width: 100%;
    }
}
