#etape-halocarbures{
    width: 1200px;
    margin: auto;

    .entete-complexe-form{
        width: 100%;
        margin: auto;
        padding: 10%;
        background-color: #f0f2f5;

        .entete{
            text-align: center;
    
            .majuscule {
                text-transform: uppercase;
                color: $color;
                text-align: center;
            } 

            .minuscule {
                text-transform: lowercase;
                color: $color;
                text-align: center;
            } 

            div:nth-child(3) {
                text-align: left;
               }
               
        }

        h3.majuscule {
            text-transform: uppercase;
            color: $color;
            text-align: center;
        }

        #complex-form {
            h3:nth-child(12), 
            h3:nth-child(15), 
            h3:nth-child(19) {
                text-align: center;
                font-size: x-large;
            }

            h3:nth-child(4),
            h3:nth-child(8) {
               text-align: center;
           }

           h3:nth-child(15), 
           h3:nth-child(19) {
                color: $color;
            }
        } 
    } 
}

#contenaireconexion{
    width: 50%;
    margin: 10% auto;
    border: 2px solid $piedpage ;
    padding: 1%;
    border-radius: 10px;

    .connexion {
        text-align: center;
        padding-bottom: 5%;

       .logo {
            width: 50px;
        }
    }
    
    .connexionpied {
        text-align: center;
    }

    div.connexionpied:nth-child(4) {
        padding-left: 7%;
        width: 50%;
        margin-left: 43%;
    }

    div.connexionpied:nth-child(2) > p:nth-child(1) {
        padding-left: 7%;
        margin-top: 10%;
        text-align: center;
    }

    #contenaireconexion div.connexionpied:nth-child(2) > p:nth-child(1) {
        padding-left: 7%;
        }
           
       
}
