.log-container{
    text-align: center;
    background: #002140;
    .logo {
        height: 50px;
        width: 50px;
        margin: 5px;
      }
}

.login-action {
  text-align: center;
  padding: 0px 14px;
  top: 0px;

  a {
      span {
          padding-left: 5px;
      }
  }
}
